{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
</head>

<body>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Add Product</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'seller_index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Add Product</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Contact Area =================-->
	<section class="contact_area section_gap_bottom">
		<div class="container">
			<br><br><br><br>
			<div class="row">
				
				<div class="col-lg-9">
					{% if msg %}
						<b style="color:blue;">{{msg}}</b>
					{% endif %}
					<form class="row contact_form" action="{% url 'seller_add_product' %}" method="post" novalidate="novalidate" enctype="multipart/form-data">
						{% csrf_token %}
						
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="product_company" placeholder="Product Company">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="product_name" placeholder="Product Name">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" id="email" name="product_price" placeholder="Product Price">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="subject" name="product_size" placeholder="Product Size">
							</div>
							<div class="form-group">
								<input type="file" class="form-control" id="subject" name="product_image">
							</div>
						</div>
						
						<div class="col-md-12 text-right">
							<button type="submit" value="submit" class="primary-btn">Add Product</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--================Contact Area =================-->


</body>
</html>
{% endblock %}