{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
</head>

<body>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Sign Up</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Sign Up</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Contact Area =================-->
	<section class="contact_area section_gap_bottom">
		<div class="container">
			<br><br><br><br>
			<div class="row">
				
				<div class="col-lg-9">
					{% if msg %}
						<b style="color:blue;">{{msg}}</b>
					{% endif %}
					<span id="email_error" style="color:blue;"></span>
					<form class="row contact_form" action="{% url 'signup' %}" method="post" novalidate="novalidate" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="col-md-12">
							<div class="form-group">
								<select name="usertype" class="form-control">
									<option>---Select User Type---</option>
									<option value="user">User</option>
									<option value="seller">Seller</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="fname" placeholder="Enter First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter First Name'">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="lname" placeholder="Enter Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Last Name'">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="subject" name="mobile" placeholder="Enter Mobile" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Mobile'">
							</div>
							<div class="form-group">
								<input type="file" class="form-control" id="subject" name="profile_pic">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<textarea class="form-control" name="address" id="message" rows="1" placeholder="Enter Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Address'"></textarea>
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="subject" name="password" placeholder="Enter Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Password'">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="subject" name="cpassword" placeholder="Enter Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Confiirm Password'">
							</div>
						</div>
						<div class="col-md-12 text-right">
							<button type="submit" value="submit" class="primary-btn">Sign Up</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--================Contact Area =================-->
<script>
          $("#email").change(function(){
            var email=$(this).val();

            $.ajax({
              url: '/ajax/validate_email/',
              data: {
                'email': email
              },
              dataType: 'json',
              success: function (data) {
                if (data.is_taken) {
                  /*document.getElementById("email").style.border="5px solid red";*/
                  document.getElementById("email_error").innerHTML="This Email ID Is Already Registered"
                }else{
                  /*document.getElementById("email").style.border="5px solid green";*/
                }
              }
            });
          });

        </script>

</body>
</html>
{% endblock %}