{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
</head>

<body>

    
    
    <!-- start product Area -->

    <section style="margin-top: 130px;">
        <!-- single product slide -->
        <div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <div class="section-title">
                            {% if carts %}
                                <h1>My Cart</h1>
                            {% else %}
                                <h1>No Products In Cart</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- single product -->
                    {% for i in carts %}
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <a href="{% url 'product_detail' pk=i.product.pk %}">
                                <img class="img-fluid" src="{{i.product.product_image.url}}" alt="" style="width:250px;height: 250px;">
                                <div class="product-details">
                                    <h6>{{i.product.product_name}}</h6>
                                    <div class="price">
                                        <h6>Rs. {{i.product_price}}</h6>
                                    </div>
                                    
                                </div>
                            </a>
                            <div class="price">
                                        
                                <form method="post" action="{% url 'change_qty' pk=i.pk %}">
                                    {% csrf_token %}
                                    Quantity : <input type="number" name="product_qty" value="{{i.product_qty}}" min="1" max="10" onchange="this.form.submit();" readonly>

                                </form>

                            </div>
                            <div class="price">
                                <h6>Total Price : Rs. {{i.total_price}}</h6>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    
</body>

</html>
{% endblock %}