{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
</head>

<body>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Change Password</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'seller_index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Change Password</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="{% url 'signup' %}">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Change Password</h3>
						{% if msg %}
							<b style="color:blue;">{{msg}}</b>
						{% endif %}
						<form class="row login_form" action="{% url 'seller_change_password' %}" method="post"  novalidate="novalidate">
							{% csrf_token %}
							
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="old_password" placeholder="Old Password">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="new_password" placeholder="New Password">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="cnew_password" placeholder="Confirm New Password">
							</div>
							
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Change Password</button>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

</body>

</html>
{% endblock %}